<nav class="navbar  header navbar-expand-lg bg-light navbar-light ">
    
      <div class="navbar-brand text-dark">Pocket Dairy</div>
      {{!-- adding a burger icon button as toggler --}}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      {{!-- end of toggler --}}
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class=" navbar-nav ml-auto ">
          
          <li class="nav-item text-dark align-self-center">
            <p class="h5">{{user.User-Name}}</p>
          </li>
          <li class="nav-item ">

            <a href="/logout" class="btn btn-primary text-light nav-link m-1">Logout</a>
          </li>

        </ul>
      </div>

  </nav>