

<section class="bg-secondary">
    <div class=" container-fluid">
<div class="container">
        
        <div class="content pt-5">
            <h1 class="title mt-2  ">Pocket<br>Dairy</h1>
            <p class="desc mt-2 ">Write and store your day to day experiences in your online dairy!</p>
            <a href="/login" class="text-light btn mt-2 p-3">Get Started (Login)</a>
</div>
        </div>
    </div>
</section>